.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.row {
  flex-direction: row;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.column {
  flex-direction: column;
}
.alert {
  position: absolute;
  top: 0;
  width: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.textareaR {
  resize: both;
}
.navi {
  z-index: 500;
}
