.noContent {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.index {
  z-index: 300;
}
.company-container {
  cursor: pointer;
  flex-grow: 1;
  margin: 100px;
}
.company-item {
  min-width: 100px;
}
